.TopCate {
  position: relative;
}
.TopCate img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: black;
}
.TopCate .nametop {
  position: relative;
  width: 150%;
}
.TopCate .nametop span {
  background: #0f3460;
  color: #e8e1e1;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px;
  position: absolute;
  top: 10px;
}
.TopCate .nametop .tleft {
  left: 0;
}
.TopCate .nametop .tright {
  background-color: rgb(15, 15, 15);
  color: black;
  position: absolute;
  right: 0;
}
